* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.web {
  height: 100%;
}

.content-sub {
  box-sizing: border-box;
}

.millie-sub-inner {
  padding-bottom: 48px;
}

.back-component {
  height: 44px;
  background: #fff;
  border-bottom: 1px solid rgb(131, 129, 129);
  position: relative;
  max-width: var(--header-width);
  margin: 0 auto;
  left: 0;
  right: 0;
}

.back-wrap {
  border-bottom: 1px solid rgb(131, 129, 129);
}

.back {
  position: relative;
  height: 43px;
  max-width: var(--header-width);
  margin: 0 auto;
}

.boder {
  border-bottom: 1px solid rgb(131, 129, 129);
}

.sub-inner {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  background: url(https://d3udu241ivsax2.cloudfront.net/v3/images/common/filter-arr.ed1470d047bb572e9725ee6be56f2618.png)
    right 3px no-repeat;
  font-weight: 700;
  background-size: 16px;
  padding-right: 18px;
}

.dropdown {
  border: none;
  background-color: white;
  color: black;
  padding: 25px 20px;
  font-size: 18px;
  cursor: pointer;
  background-size: 16px;
  padding-right: 18px;
  text-align: left;
  font-weight: bolder;
}

.subb-inner {
  max-width: var(--depth-width);
  margin: 0 auto;
  padding: 24px;
}

.subb-inner > .into {
  display: flex;
  justify-content: space-between;
}

.subb-inner > .into .count {
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.subb-inner > .into .tton {
  color: #555;
  background: #fff
    url(https://d3udu241ivsax2.cloudfront.net/v3/images/common/more-button.0b293f1f10f97e5a2a744710ef0d1133.png)
    100% no-repeat;
  background-size: 12px;
  padding-right: 16px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.gridd-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  align-items: baseline;
}

.grid-i {
  width: 14.28%;
  padding: 0 8px;
  margin-top: 16px;
  list-style: none;
}
.millie-book {
  min-width: 100%;
}

.book-image {
  display: flex;
  align-items: flex-end;
}

.thumbnail.millie-book.books {
  position: relative;
  width: 100%;
}

.thumbnail-inner {
  overflow: hidden;
  position: relative;
  width: inherit;
  background: linear-gradient(
    90deg,
    #ececec 25%,
    #ececec 37%,
    #ececec 63%
  );
  border-radius: 0 4px 4px 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.2);
}

.book-picture {
  padding-top: 0;
}

.meta {
  padding-top: 12px;
  font-size: 12px;
  text-align: left;
  position: relative;
}
.new-docentbook {
  display: block;
  background-image: url(https://d3udu241ivsax2.cloudfront.net/v3/images/common/label-new-docentbook.d4cad0844604612213929101aa48df17.svg);
  height: 18px;
  background-repeat: no-repeat;
}
.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  margin-bottom: 3px;
  white-space: normal;
  font-size: 15px;
  font-weight: 900;
}

.author {
  -webkit-line-clamp: 1;
  max-height: 1.35em;
  color: #6f6f6f;
  font-size: 14px;
}

.reading {
  padding-left: 20px;
  background: url(https://d3udu241ivsax2.cloudfront.net/v3/images/common/icon-complete-reading.21bedb2495da0a062920c4392d4397ba.svg)
    no-repeat 0;
  background-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: 1.35em;
  color: #6f6f6f;
  font-size: 14px;
  white-space: normal;
}

.line {
  padding: 0 2px;
}

.title,
.author {
  text-decoration: none;
  color: black;
}

.book-data {
  text-decoration: none;
}
.author,
.reading,
.line {
  color: rgb(99, 97, 97);
}
.new-docentbooks {
  top: 26px !important;
  text-indent: -9999em;
}
