<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/categorie/collection.css}">
</head>
<body>
    <div class="web">
        <section class="content-sub">
            <div class="millie-sub-inner">
                <div class="back-component">
                    <div class="back-wrap">
                        <div class="back">
                            <button type="button" class="close-button">
                                <i class="mds-icon--arrow-left"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="boder">
                     <div class="sub-inner">
                        <div class="item">
                                <h2 class="dropdown">책-잇</h2>
                        </div>
                     </div>   
                    </div>
                    <div class="sub-content header column">
                        <div class="sub-inner">
                            <div class="item filter overflow">
                                <div class="slide-container no-swiper">
                                    <ul class="slide-wrapper">
                                        <li class="slide-item">
                                            <button type="button" class="gtm-checkit-2depth-filter active">ALL</button>
                                        </li>
                                        <li class="slide-item">
                                            <button type="button" class="gtm-checkit-2depth-filter active">#재테크</button>
                                        </li>
                                        <li class="slide-item">
                                            <button type="button" class="gtm-checkit-2depth-filter active">#경제/경영</button>
                                        </li>
                                        <li class="slide-item">
                                            <button type="button" class="gtm-checkit-2depth-filter active">#라이프스타일</button>
                                        </li>
                                        <li class="slide-item">
                                            <button type="button" class="gtm-checkit-2depth-filter active">#자기계발</button>
                                        </li>
                                        <li class="slide-item">
                                            <button type="button" class="gtm-checkit-2depth-filter active">#커리어</button>
                                        </li>
                                        <li class="slide-item">
                                            <button type="button" class="gtm-checkit-2depth-filter active">#테크/IT</button>
                                        </li>
                                        <li class="slide-item">
                                            <button type="button" class="gtm-checkit-2depth-filter active">#심리/건강</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="into">
                                <div class="count">총 2개</div>
                                <div class="sub-content">
                                    <div class="today-topic">
                                        <ul class="today-topic-list">
                                            <li class="today-topic-item">
                                                <a href="" class="gtm-checkit-2depth-indicons">
                                                    <div class="item-info">
                                                        <span class="tit">하락장에서도 버는 사람은 있다! 주식에 성공하는 사람의 3가지 특징은?</span>
                                                        <span class="cate">#재테크</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="today-topic-item2">
                                                <a href="" class="gtm-checkit-2depth-indicons">
                                                    <div class="item-info">
                                                        <span class="tit">하락장에서도 버는 사람은 있다! 주식에 성공하는 사람의 3가지 특징은?</span>
                                                        <span class="cate">#재테크</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                  </section>
                </div>
<!--            </div>-->
<!--        </section>-->
<!--    </div>-->
</body>
</html>