<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/categorie/content.css}">
</head>
<body>
    <div class="web">
        <section class="content-sub">
            <div class="millie-sub-inner">
                <div class="back-component">
                    <div class="back-wrap">
                        <div class="back">
                            <button type="button" class="close-button">
                                <i class="mds-icon--arrow-left"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="boder">
                     <div class="sub-inner">
                        <div class="item">
                            <button type="button" class="dropdown">
                                도슨트북 모아보기
                            </button>
                        </div>
                     </div>   
                    </div>
                    <div class="subbb">
                        <div class="subb-inner">
                            <div class="into">
                                <p class="count">총 5권</p>
                                <button type="button" class="tton">완독할 확률 높은 순</button>
                            </div>
                            <div class="gridd">
                                <ul class="gridd-wrapper">
                                    <li class="grid-i">
                                        <div class="millie-book">
                                            <a href="" type="book" class="book-image">
                                                <div class="thumbnail">
                                                    <p class="new-docentbooks">도슨트북</p>
                                                    <div class="thumbnail-inner">
                                                        <div class="book-picture">
                                                            <picture>
                                                                <source type="image/webp">
                                                                <img src="https://cover.millie.co.kr/service/cover/179561364/59ede77dd98f4da8bbc057bd8282ad17.jpg?w=200&q=80" alt=" 도서 썸네일">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" type="book" class="book-data">
                                                <div class="meta">
                                                    <p class="new-docentbook">
                                                        <p class="title">위대한 개츠비</p>
                                                        <p class="author">F.스콧피츠제럴드 원작</p>
                                                    </p>
                                                    <p class="reading">
                                                        83% 
                                                        <span class="line">|</span>
                                                         12분
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="grid-i">
                                        <div class="millie-book">
                                            <a href="" type="book" class="book-image">
                                                <div class="thumbnail">
                                                    <p class="new-docentbooks">도슨트북</p>
                                                    <div class="thumbnail-inner">
                                                        <div class="book-picture">
                                                            <picture>
                                                                <source type="image/webp">
                                                                <img src="https://cover.millie.co.kr/service/cover/179594031/659f7ed6d9e04d088f3c28a657223891.jpg?w=200&q=80" alt=" 도서 썸네일">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" type="book" class="book-data">
                                                <div class="meta">
                                                    <p class="new-docentbook">
                                                        <p class="title">달러구트 꿈 백화점</p>
                                                        <p class="author">이미에 원작</p>
                                                    </p>
                                                    <p class="reading">
                                                        80% 
                                                        <span class="line">|</span>
                                                         9분
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="grid-i">
                                        <div class="millie-book">
                                            <a href="" type="book" class="book-image">
                                                <div class="thumbnail">
                                                    <p class="new-docentbooks">도슨트북</p>
                                                    <div class="thumbnail-inner">
                                                        <div class="book-picture">
                                                            <picture>
                                                                <source type="image/webp">
                                                                <img src="https://cover.millie.co.kr/service/cover/179628819/69b73b6a172c4a558827a675ec5925e2.jpg?w=200&q=80" alt=" 도서 썸네일">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" type="book" class="book-data">
                                                <div class="meta">
                                                    <p class="new-docentbook">
                                                        <p class="title">데일 카네기 인간관계론</p>
                                                        <p class="author">데일카네기 지음, 임상훈 옮김</p>
                                                    </p>
                                                    <p class="reading">
                                                        59% 
                                                        <span class="line">|</span>
                                                         8분
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="grid-i">
                                        <div class="millie-book">
                                            <a href="" type="book" class="book-image">
                                                <div class="thumbnail">
                                                    <p class="new-docentbooks">도슨트북</p>
                                                    <div class="thumbnail-inner">
                                                        <div class="book-picture">
                                                            <picture>
                                                                <source type="image/webp">
                                                                <img src="https://cover.millie.co.kr/service/cover/179615660/6a5c1d2f31164aaba22fb28c31dec6d4.jpg?w=200&q=80" alt=" 도서 썸네일">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" type="book" class="book-data">
                                                <div class="meta">
                                                    <p class="new-docentbook">
                                                        <p class="title">역행자 : 확장판</p>
                                                        <p class="author">자청 원작</p>
                                                    </p>
                                                    <p class="reading">
                                                        44% 
                                                        <span class="line">|</span>
                                                         8분
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="grid-i">
                                        <div class="millie-book">
                                            <a href="" type="book" class="book-image">
                                                <div class="thumbnail">
                                                    <p class="new-docentbooks">도슨트북</p>
                                                    <div class="thumbnail-inner">
                                                        <div class="book-picture">
                                                            <picture>
                                                                <source type="image/webp">
                                                                <img src="https://cover.millie.co.kr/service/cover/179599723/103e5936e3b540e6b8ab759ddfb1c3ba.jpg?w=200&q=80" alt=" 도서 썸네일">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" type="book" class="book-data">
                                                <div class="meta">
                                                    <p class="new-docentbook">
                                                        <p class="title">모든 삶은 흐른다</p>
                                                        <p class="author">로랑스 드빌레르 원작 </p>
                                                    </p>
                                                    <p class="reading">
                                                        40% 
                                                        <span class="line">|</span>
                                                         24분
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </section>
    </div>
</body>
</html>