<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/categorie/writer.css}">
</head>
<body>
    <div class="web">
        <section class="content-sub">
            <div class="millie-sub-inner">
                <div class="back-component">
                    <div class="back-wrap">
                        <div class="back">
                            <button type="button" class="close-button">
                                <i class="mds-icon--arrow-left"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="boder">
                     <div class="sub-inner">
                        <div class="item">
                            
                                <h2 class="dropdown">#박상영</h2>
                            
                        </div>
                     </div>   
                    </div>
                    <div class="subbb">
                        <div class="subb-inner">
                            <div class="into">
                                <p class="count">총 5권</p>
                                <button type="button" class="tton">인기 순</button>
                            </div>
                            <div class="gridd">
                                <ul class="gridd-wrapper">
                                    <li class="grid-i">
                                        <div class="millie-book">
                                            <a href="" type="book" class="book-image">
                                                <div class="thumbnail">
                                                    <p class="new-docentbooks">박상영</p>
                                                    <div class="thumbnail-inner">
                                                        <div class="book-picture">
                                                            <picture>
                                                                <source type="image/webp">
                                                                <img src="https://cover.millie.co.kr/service/cover/179573971/66dd652c831643309790665e2f1403bd.jpg?w=200&q=80" alt=" 도서 썸네일">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" type="book" class="book-data">
                                                <div class="meta">
                                                    <p class="new-docentbook">
                                                        <p class="title">믿음에 대하여</p>
                                                        <p class="author">박상영</p>
                                                    </p>
                                                    <p class="reading">
                                                        73% 
                                                        <span class="line">|</span>
                                                         203분
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="grid-i">
                                        <div class="millie-book">
                                            <a href="" type="book" class="book-image">
                                                <div class="thumbnail">
                                                    <p class="new-docentbooks">박상영</p>
                                                    <div class="thumbnail-inner">
                                                        <div class="book-picture">
                                                            <picture>
                                                                <source type="image/webp">
                                                                <img src="https://cover.millie.co.kr/service/cover/179553335/7845f50f1e544f9b90744d53dbbcdd2b.jpg?w=200&q=80" alt=" 도서 썸네일">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" type="book" class="book-data">
                                                <div class="meta">
                                                    <p class="new-docentbook">
                                                        <p class="title">일은 서울에서, 잠은 제주에서 </p>
                                                        <p class="author">박상영</p>
                                                    </p>
                                                    <p class="reading">
                                                        81% 
                                                        <span class="line">|</span>
                                                         21분
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="grid-i">
                                        <div class="millie-book">
                                            <a href="" type="book" class="book-image">
                                                <div class="thumbnail">
                                                    <p class="new-docentbooks">박상영</p>
                                                    <div class="thumbnail-inner">
                                                        <div class="book-picture">
                                                            <picture>
                                                                <source type="image/webp">
                                                                <img src="https://cover.millie.co.kr/service/cover/179558639/47e9908fe31b4a2d8f59f8d3b7ed5947.jpg?w=200&q=80" alt=" 도서 썸네일">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" type="book" class="book-data">
                                                <div class="meta">
                                                    <p class="new-docentbook">
                                                        <p class="title">오늘 밤은 굶고 자야지</p>
                                                        <p class="author">박상영</p>
                                                    </p>
                                                    <p class="reading">
                                                        75% 
                                                        <span class="line">|</span>
                                                         154분
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="grid-i">
                                        <div class="millie-book">
                                            <a href="" type="book" class="book-image">
                                                <div class="thumbnail">
                                                    <p class="new-docentbooks">박상영</p>
                                                    <div class="thumbnail-inner">
                                                        <div class="book-picture">
                                                            <picture>
                                                                <source type="image/webp">
                                                                <img src="https://cover.millie.co.kr/service/cover/179593527/b2132e0c11d24f70a3d5981aaba3974d.jpg?w=200&q=80" alt=" 도서 썸네일">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" type="book" class="book-data">
                                                <div class="meta">
                                                    <p class="new-docentbook">
                                                        <p class="title">억지로 쉼표 찍기 1화</p>
                                                        <p class="author">박상영</p>
                                                    </p>
                                                    <p class="reading">
                                                        82% 
                                                        <span class="line">|</span>
                                                         11분
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="grid-i">
                                        <div class="millie-book">
                                            <a href="" type="book" class="book-image">
                                                <div class="thumbnail">
                                                    <p class="new-docentbooks">박상영</p>
                                                    <div class="thumbnail-inner">
                                                        <div class="book-picture">
                                                            <picture>
                                                                <source type="image/webp">
                                                                <img src="https://cover.millie.co.kr/service/cover/179620409/1d0c02959e49428a8ee2efe587653268.jpg?w=200&q=80" alt=" 도서 썸네일">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" type="book" class="book-data">
                                                <div class="meta">
                                                    <p class="new-docentbook">
                                                        <p class="title">일은 서울에서, 잠은 제주에서 </p>
                                                        <p class="author">박상영</p>
                                                    </p>
                                                    <p class="reading">
                                                        38% 
                                                        <span class="line">|</span>
                                                         25분
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </section>
    </div>
</body>
</html>