<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/mypage/myWriteContent.css}">
    <link rel="stylesheet" th:href="@{/css/main/mainpage.css}" />
    <script defer th:src="@{/js/mypage/myWriteContent.js}"></script>
    <script defer th:src="@{/js/main/mainpage.js}"></script>
</head>
<body>
<header class="header" th:replace="~{/fragment/header :: header}"></header>

<div>

    <section class="profile" th:object="${profileDto}">
        <div class="profile-all">
            <div id="profile-photo">

                <img th:if="${profilePhoto.userProfileName == null}"
                     th:src="@{/imgs/mypage/free-icon-hippo-3250992.png}" alt=""/>
                <img th:unless="${profilePhoto.userProfileName == null}"
                     th:src="@{'/profile/' + ${profilePhoto.userProfileUploadPath} + '/' + ${profilePhoto.userProfileUuid} + '_' + ${profilePhoto.userProfileName}}"
                     alt=""/>

            </div>
            <div id="profile-name">
                <span>
                  <th:block>
                  <img class="hippo-celeb" th:if="${checkSticker == 'Y'}"
                       th:src="@{/images/mypage/hippo.png}" alt=""/>
                  </th:block>
                </span>
                <h3 class="mypage-user-nickname" th:text="${profileDto.userNickName}"></h3>
                <span class="profile-name-option">님의 서재</span>
            </div>
            <div id="follow">
                <span>팔로워 <span th:text="${profileDto.followerCnt}"></span></span>
                <span>팔로잉 <span th:text="${profileDto.followingCnt}"></span></span>
            </div>
        </div>
        <div id="my-favorite-book">
            <img th:if="*{cover == null}"
                 th:src="@{/imgs/mypage/best_book_default.png}" alt=""/>
            <img th:unless="*{cover == null}"
                 th:src="${profileDto.cover}"
                 id="best-book-img" alt=""/>
        </div>
    </section>
</div>
<div>
    <div class="mypage-cate">
        <div><a th:href="@{/mypage/int}">소개</a></div>
        <div><a th:href="@{/mypage/book/container}">책장</a></div>
        <div><a th:href="@{/mypage/book/write-content}">내 게시물</a></div>
        <div><a th:href="@{/mypage/sticker}">스티커 신청</a></div>
        <div><a th:href="@{/mypage/manage}">관리</a></div>
    </div>
</div>
    <section class="wirte-content-cate-line">
        <form action="">
            <div class="wirte-content-cate">
                <div>
                    <button type="button" class="review-content-btn"><p>한 줄 리뷰</p></button>
                </div>
                <div>
                    <button type="button" class="post-content-btn">포스트</button>
                </div>
            </div>
        </form>
    </section>

        <section>
            <div class="write-content-total-setting">
                <div class="review-count">
                    <span>총 <span th:text="${reviewCount}"></span>개</span>
                </div>

                <div class="post-count">
                    <span>총 <span th:text="${postCount}"></span>개</span>
                </div>
                <div class="write-content-setting-list">

                    <div class="write-content-setting-list-icon">

                    </div>
                </div>
            </div>
        </section>


    <section>

            <div class="review-content-box-wrap">



                <div th:each="myContentDto : ${myContentList}"
                     th:if="${myContentDto.feedType} == 'Review'" class="review-content-box" data-type="review">


                    <div class="review-content-box-title">
                        <span th:text="${myContentDto.feedTitle}"></span>
                    </div>
                    <div class="review-content-box-date">
                        <span th:text="${myContentDto.feedDate}"></span>
                    </div>
                    <div class="review-content-box-book-info">
                        <div th:object="${myContentDto}" class="review-content-box-book-info-image">
                            <img th:if="*{cover == null}"
                                 th:src="@{/imgs/mypage/best_book_default.png}">
                            <img th:unless="*{cover == null}"
                                 th:src="${myContentDto.cover}">
                            <div class="review-content-box-book-info-detail">
                                <div><span th:text="${myContentDto.bookName}"></span></div>
                                <div class="review-content-box-book-info-detail-writer"><span th:text="${myContentDto.bookWriter}"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="review-content-box-hart-count"><span>좋아요♥ </span><span th:text="${myContentDto.totalLike}"></span></div>
                </div>

            </div>

        <div class="review-content-box-wrap2">

            <div th:each="myContentDto : ${myContentList}"
                 th:if="${myContentDto.feedType} == 'Post'" class="review-content-box" data-type="post">

                <div class="review-content-box-title">
                    <span th:text="${myContentDto.feedTitle}"></span>
                </div>
                <div class="review-content-box-date">
                    <span th:text="${myContentDto.feedDate}"></span>
                </div>
                <div class="review-content-box-book-info">
                    <div th:object="${myContentDto}" class="review-content-box-book-info-image">
                        <img th:if="*{cover == null}"
                             th:src="@{/imgs/mypage/best_book_default.png}">
                        <img th:unless="*{cover == null}"
                             th:src="${myContentDto.cover}">
                        <div class="review-content-box-book-info-detail">
                            <div><span th:text="${myContentDto.bookName}"></span></div>
                            <div class="review-content-box-book-info-detail-writer"><span th:text="${myContentDto.bookWriter}"></span></div>
                        </div>
                    </div>
                </div>
                <div class="review-content-box-hart-count"><span>좋아요♥ </span><span th:text="${myContentDto.totalLike}"></span></div>
            </div>

        </div>


    </section>
<!--카테고리 모달창-->
<div class="category_popup" id="category_wrap">
    <div class="category_popup_inner">
        <section class="category_popup_inner_layout">
            <section class="category_popup_content_layout">
                <a th:href="@{/board/post/main}">
                    <span class="category_popup_title">게시판</span>
                </a>

                <div class="category_popup_content_box">
                    <span class="category_popup_content">소설 게시판</span>
                    <span class="category_popup_content">중고 게시판</span>
                    <span class="category_popup_content">자유 게시판</span>
                </div>

                <span class="category_popup_title">쪽지</span>
                <div class="category_popup_content_box">
                    <a th:href="@{/message/letter/get}">
                        <span class="category_popup_content">받은 쪽지함</span>
                    </a>
                    <a th:href="@{/message/letter/send}">
                        <span class="category_popup_content">보낸 쪽지함</span>
                    </a>
                </div>


                <a th:href="@{/feed}">
                    <span class="category_popup_title">피드</span>
                </a>

                <div class="category_popup_content_box">
                    <a th:href="@{/feed}">
                        <span class="category_popup_content">포스트</span>
                    </a>
                    <a th:href="@{/feed/oneline}">
                        <span class="category_popup_content">한 줄 리뷰</span>
                    </a>
                    <a th:href="@{/feed/read}">
                        <span class="category_popup_content">독후감</span>
                    </a>
                </div>

                <span class="category_popup_title">이벤트</span>
                <a th:href="@{/mypage/sticker}">
                    <span class="category_popup_content">스티커 신청하기</span>
                </a>
            </section>
        </section>
    </div>
</div>

    <footer></footer>
</body>
</html>