<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/board/post_main.css}" />
    <link rel="stylesheet" th:href="@{/css/chatbot/chatbot.css}"/>
    <script defer th:src="@{/js/board/post_main.js}"></script>
    <script defer th:src="@{/js/chatbot/chatbot.js}"></script>
    <title>Document</title>
  </head>
  <body>
    <header></header>
    <div class="main__post-content-container">
<!--      <form action="">-->
        <main class="main__post-content-inner-box">
          <div class="main__post-title-search-box">
            <h1 class="main__title-box">
              <span>중고게시판</span>
              <div class="main__search-option-box">
                <span class="option-span" data-type="deal" data-search_type="post">
                  <!-- <a href="">중고</a> -->
                  <span>중고</span>
                  <ul class="search-option-ul post">
                    <li data-type="deal">중고</li>
                    <li data-type="board">자유</li>
                    <li data-type="novel">소설</li>
                    <li data-type="claim">사용자문의</li>
                  </ul>
                  <select class="main__search-option-post-type" name="" id="">
                    <option value="">중고</option>
                    <option value="">자유</option>
                    <option value="">소설</option>
                    <option value="">사용자문의</option>
                  </select></span
                >
                <span class="option-span" data-etc="title" data-search_type="etc">
                  <!-- <a href="">제목</a> -->
                  <span>제목</span>
                  <ul class="search-option-ul etc">
                    <li data-etc="title">제목</li>
                    <li data-etc="writer">작성자</li>
                  </ul>
                  <select class="main__search-option-etc" name="" id="">
                    <option value="">제목</option>
                    <option value="">작성자</option>
                  </select></span
                >
                <span>
                  <input type="text" class="search-contnet-input" />
                </span>
              </div>
            </h1>
          </div>
          <div class="main__post-type-menu-box">
            <ul class="main__post-menu-ul">
              <input
                type="hidden"
                class="post-menu-active-info"
                data-postnow="1"
              />
              <li class="post-menu-li post-menu-select-li" data-postnow="1">
                <div data-type="deal">중고</div><span class="post-menu-select-span"></span>
              </li>
              <li class="post-menu-li" data-postnow="2">
                <div data-type="board">자유</div><span></span>
              </li>
              <li class="post-menu-li" data-postnow="3">
                <div data-type="novel">소설</div><span></span>
              </li>
              <li class="post-menu-li" data-postnow="4">
                <div data-type="claim">사용자문의</div><span></span>
              </li>
            </ul>
            <div class="main__post-order-type-box">
              <ul>
                <li><a href="">최신순</a></li>
                <li><a href="">좋아요순</a></li>
              </ul>
            </div>
          </div>
          <div class="main__post-search-result-box">
            <ul>

            </ul>
            <div class="main__post-write-btn-box">
              <a href="">글작성</a>
            </div>
          </div>
          <div class="main__post-page-btn-box">

          </div>
        </main>
<!--      </form>-->
    </div>
    <div th:replace="~{/chatbot/chatbot :: chatbot-box}">
    </div>
    <footer></footer>
  </body>
</html>
