*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    position: sticky;
    background-color: #fff;
}
.header_layout{
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    margin: 0 auto;
}

.header_logo{
    width: 100px;
    margin: 0 25px 0 0;
    z-index: 1;
}

.header_logo_layout{
    overflow: hidden;
    display: block;
    height: 50px;
}

.header_logo_images{
    width: 100px;
    height: 40px;
}

.header_right_layout{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header_right_alarm{
    justify-content: center;
    position: relative;
    width: 24px;
    height: 24px;
}
.header_right_login{
    margin-left: 16px;
}
.header_right_login_box{
    color: black;
    background-color: #2bc1bf;
    width: 80px;
    height: 32px;
    display: flex;;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 12px;
    text-decoration: none;
    
}

main{
    max-width: unset;
    padding: 0;
}

.main_top{
    position: sticky;
    top: 65px;
    z-index: 50;
    width: 100%;
    height: 44px; 
    border-bottom: 1px solid gray;
}

.main_top_layout{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 24px;
    margin: 0 auto;
}

.main_top_category{
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: -1px;
    margin-right: 12px;
}

.main_category_btnbox{
    cursor: pointer;
  border: none;
  background-color: transparent;
  opacity: 1;
}

.main_category_btn{
    opacity: 1;
    border: none;
}

.main_top_category{
    background-color: none;
    border: none;
}
.main_top_category_tap{
    position: 'relative';
    left: 0;
    top: 0;
}

.main_top_category_list{
    display: flex;
}


li{
    list-style: none;
    padding: 11px 12px;
    line-height: 22px;
}

a{
    text-decoration: none;
}

/* 카테고리 모달 창 */

.category_popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 109px;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    display: none;
  }
  
  .category_popup_inner {
    max-width: 1440px;
    height: 95%;
    min-height: 500px;
    max-height: 800px;
    margin: 0 auto;
  }
  
  .category_popup_inner_layout {
    overflow: hidden;
    display: flex;
    align-items: stretch;
    max-width: 350px;
    /* height: 100%; */
    min-height: 500px;
    max-height: 600px;
    background-color: #fdffff;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid #29a7a4;

  }
  
  .category_popup_content_layout {
    right: 0;
    left: 0;
    position: sticky;
    padding: 24px 24px 32px;
    margin: 15px 25px;
  }
  
  .category_popup_title {
    display: flex;
    padding: 5px 0 15px;
    font-weight: 700;
    font-size: 15px;
    color: #2bc1bf;
  }
  .category_popup_content {
    display: flex;
    margin: 10px 20px;
    cursor: pointer;
  }
  
  .category_popup_title2 {
    display: flex;
    padding: 20px 0 15px;
    font-weight: 700;
    font-size: 15px;
    color: #2bc1bf;
  }
  
  .category_popup_title3 {
    font-size: 15px;
    margin: 50px 0 0 25px;
    color: #2bc1bf;
    font-weight: 700;
    cursor: pointer;
  }
  

  .main_event {
    padding: 32px 0;
  }
  
  .main_event_inner {
    margin: 0 auto;
    padding: 0 24px;
  }
  
  .main_event_title {
    font-weight: bold;
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: #2bc1bf;
  }
  .main_event_content {
    margin: 12px -16px 16px 0;
  }
  
  /*  */

.feed_menu{
    padding: 0;
   margin: 0;
   border: 0;
    background-color: #fff;
    border-bottom: 1px solid gray;
    height: 44px;
}

.feed_menu_container{
    max-width: var(--header-width);
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 16px;

}

.feed_menu_list{
    display: flex;
    font-weight: bold;
}

.feed_writer{
    border: none;
    height: 34px;
}

.feed_writer > img {
    height: 33px;
}

.sub_menu{
   padding: 0;
   margin: 0;
   border: 0;
   border-bottom: 1px solid gray;

}

.sub_container{
    height: 64px;
    padding: 0 0 0 24px;   
}

.sub_list{
    height: 64px;
    display: flex;
    align-items: center;
}

.sub_list > li{
    list-style: none;
}

.sub_list > li > a{
    font-size: 14px;
    color: #2bc1bf;
    padding: 6px 16px;
    border-radius: 100px;
    background-color: #f7f7f7;
    cursor: pointer;
    border: 1px solid #2bc1bf;
}


.feed_contentbox{
    height: 100%;
    margin: 0px 25px;
    float: none;
    display: flex;
    justify-content: center;
    position: relative;
}

.feed_contentlayer{
    height: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 2px;
    justify-content: center;
}

.feed_cardbox{
    width: 328px;
    height: 422px;
    margin-bottom: 12px;
    margin: 0 12px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .06), 2px 2px 10px rgba(0, 0, 0, .04);
}

.feed_infobox{
    width: 100%;
    height: 76px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 14px 8px 14px 16px;
    justify-content: space-between;
}

.feed_user{
    width: 156px;
    height: 20px;
}

.feed_user > a{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
}

.nickname{
    color: #242424;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 118px;
    height: 18px;
    margin-left: 13px;
    
}

.feed_timebox{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed_timebox > span{
    width: 48px;
    height: 17px;
    font-size: 12px;
    color: var(--text-04);
    position: relative;
    padding-left: 12px;
}

.feed_follow_btn{
    height: 32px;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    width: 48px;
    font-size: 12px;
    margin-right: 8px;
}

.feed_cardimg{
    display: flex;
    width: 100%;
    height: 290px;
    align-items: center;
    justify-content: center;
}

.feed_cardimg > div{
    text-align: center;
    width: 288px;
    height: 100px;
    margin: 10px 20px;
}

.feed_likebox{
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: center;
}

.feed_like_btn{
    width: 164px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    font-size: 12px;
    color: #8b8b8b;
    border: 1px solid #8b8b8b;
    border-radius: 12px;
}

.like_icon{
    width: 55px;
    height: 18px;
    margin-right: 4px;
}

.like_sheep{
    width: 20px;
}


/* 글 쓰기 모달 */
.modal_section{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
}

.modal{
    width: 100%;
    border-radius:  0 0 40px 40px;
    position: relative;
    background: #f7f7f7;
    padding: 49px 0 0;
    display: none;
}

.modal_ul{
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

