<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가입된 계정 정보 확인 | 히포북</title>
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
    <link rel="stylesheet" th:href="@{/css/user/hippobook.css}">
    <link rel="stylesheet" th:href="@{/css/user/joinAuth.css}">
</head>
<body data-theme="light">
<div data-a-1120 id="wrap" class="web-mount">

    <section class="content">
        <div class="login-container">
            <div class="back-component">
                <div class="back line">
                    <button type="button" class="close-button">
                        <i class="mds-icon--arrow-left"></i>
                    </button>
                </div>
            </div>
            <form class="login-content" th:action="@{user/check_account}" method="post">
                <img class="logo-picture" th:src="@{/images/user/Logo.png}" width="79px">
                <h3 class="title">가입된 계정 정보 확인</h3>
                <p class="sub-title">가입하신 아이디를 확인하세요</p>
                <ul class="account-inner">
                    <li class="item">
                        <div class="header">
                            <div class="image phone">
                                <img src="" class="icon">
                            </div>
                            <div class="box">
                                <p class="id">010****5678</p>
                                <p class="info">
                                    휴대폰 계정
                                </p>
                            </div>
                        </div>
                        <div class="metadata">
                            <p>
                                가입일
                                <span>2024-03-14</span>
                            </p>
                            <p>
                                최종 로그인
                                <span>2024-04-05</span>
                            </p>
                        </div>
                        <div class="controller">
                            <button type="button" class="mds-button mds-button--quaternary mds-button--line mds-button--h40 mds-button--r4">
                                <a th:href="@{/user/passwordreset}">비밀번호 재설정</a>
                            </button>
                            <button type="button" class="mds-button mds-button--quaternary mds-button--line mds-button--h40 mds-button--r4">
                                <a th:href="@{/user/login}">로그인 하기</a>
                            </button>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </section>
</div>
</body>
</html>
