<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정 | 히포북</title>
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
    <link rel="stylesheet" th:href="@{/css/user/hippobook.css}">
    <link rel="stylesheet" th:href="@{/css/user/joinAuth.css}">
</head>
<body data-theme="light">
<div data-a-1120 id="wrap" class="web-mount">
    <section data-a-1120 class="content">
        <div data-b-1130 class="login-container">
            <div data-c-1140 class="back-component">
                <div data-c-1140 class="back line">
                    <button data-c-1140 type="button" class="close-button">
                        <i data-c-1140 class="mds-icon--arrow-left"></i>
                    </button>
                </div>
            </div>
            <form class="login-content" th:action="@{user/password_reset}" method="post">
                <img class="logo-picture" th:src="@{/images/user/Logo.png}" width="79px">
                <h3 class="title">비밀번호 재설정</h3>
                <p class="sub-title">새로운 비밀번호를 설정해주세요</p>
                <div class="input-item">
                    <div class="mds-input input mds-input--default mds-input--left">
                        <label>
                            <div class="inner">

                                <div class="input">
                                <span id="input-278-label" class="label">
                                    새로운 비밀번호
                                    <sup>*</sup>
                                </span>
                                    <input autocomplete="off" id="input-278" aria-labelledby="input-278-label"
                                           aria-errormessage="input-278-message" type="text" placeholder="새로운 비밀번호 입력"
                                           class="mds-input-field"
                                           name="userPassword"
                                    >
                                </div>
                                <button type="button" class="mds-icon--input-delete clear-button" style="display: none;"></button>
                            </div>
                        </label>
                        <div class="message-wrap">
                            <p aria-live="assertive" id="input-77-message" role="alert" class="message">8~20자 이내 영문 대/소문자, 숫자, 특수문자만 사용 가능합니다.</p>
                        </div>
                    </div>
                </div>
                <div class="mds-input input mds-input--default mds-input--required mds-input--left">
                    <label>
                        <div class="inner">
                            <div class="input">
                <span input-78-label class="label">
                  새로운 비밀번호 재입력
                  <sup>*</sup>
                </span>
                                <input autocomplete="off" id="input-78" aria-labelledby="input-78-label" aria-errormessage="input-78-message" type="password" placeholder="새로운 비밀번호 재입력" class="mds-input-field">
                            </div>
                        </div>
                    </label>
                </div>
                <div class="button-area mt16">
                    <button type="button" disabled="disabled" class="next-button mds-button mds-button--primary mds-button--h56 mds-button--r4">
                        <a th:href="@{/user/login}">다음</a>
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>
</body>
</html>